body{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
label{
    font-weight: bold;
}

.alertfont{
    font-weight: bold;

}
.general{
    display: flex;
    justify-content: center;
}

.frame{
    width: 50%;
    height: 80%;
}

.cardtype{
    background-color: gray;
}

.footer{
    display: flex;
    justify-content: end;
    align-items: center;    
}

